/*讓圖片變圓角*/
img{
	border-radius:50%;
	max-width:100%;
	height:auto;
}
/*讓表格大小隨視窗大小改變而改變*/
table{
	width:50%;
}
/*改變ul和ol的大小及顏色*/
::marker{
	color:gray;
	font-size:24px;
}
/*指定內容文字反白效果*/
::selection{
	color:white;
	background:gray;
}